@using CameraMap.App_GlobalResources
@model CameraMap.Models.Master.Organization.OrganizationModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
        }

        #wrapper {
            height: 100%;
            border:none;
        }

        #main {
            height: 100%;
            margin-top:0px;
            margin-bottom:0px;
            margin-left:0px;
            margin-right:0px;
        }

        #vsplitter {
            height: 100%;
        }

        #layerOpts {
        }

        #container {
            min-height: 600px;
            height:100%;
            width: 100%;
            margin: 0px;
        }
        #mapRealInfo {
            height:28px;
            line-height:28px;
            text-align:right;
            padding-right:5px;
        }
    </style>

    <style type="text/css">
        .LayerIcons {
            width: 30px;
            height: 30px;
        }

        .EditTable td {
            padding-bottom: 5px;
            padding-right: 10px;
            vertical-align: middle;
        }
    </style>

    <style type="text/css">
        .FileSelectButton {
            width: 141px;
        }

        .FileSelectHideObj {
            width: 141px;
            height: 34px;
            overflow: hidden;
            position: relative;
            background-image: none;
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: auto;
            background-origin: padding-box;
            background-clip: border-box;
            background-color: transparent;
            margin-top: -34px;
            z-index: 9999px;
        }

            .FileSelectHideObj input {
                height: 34px;
                right: 0px;
                bottom: 0px;
                font-size: 20px;
                filter: alpha(opacity=0);
                -webkit-filter: opacity(0%);
                position: absolute;
                cursor: pointer;
                outline-width: medium;
                outline-style: none;
                outline-color: invert;
                opacity: 0;
            }
    </style>

}
@section PrepareScript{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".NumABC,.Fullwidth").wijtextbox();
            $("#LayerId").wijcombobox();

            reloadLayerData();
            loadLayerEditPartial();

            $("#btnCreateLayer").click(function () {
                openNewLayer();
            });

            $("#btnCreateDevice").click(function () {
                var layerId = $("#selectedlayerId").val();
                var layerName = $("#selectedlayerName").val();
                openNewDevice(layerId, layerName);
            });
        });

        $(document).ready(function () {
            $("#vsplitter").wijsplitter({
                panel1: { minSize: 200 },
                fullSplit: true,
                showExpander: false,
                expanded: function (e) { $("#hsplitter").wijsplitter("refresh"); },
                collapsed: function (e) { $("#hsplitter").wijsplitter("refresh"); },
                sized: function (e) { $("#hsplitter").wijsplitter("refresh"); }
            });
            $("#hsplitter").wijsplitter({
                panel1: { minSize: 300 },
                showExpander: false,
                orientation: "horizontal",
                fullSplit: true
            });

            $(window).resize(resizeWindow);
            resizeWindow();
        });

        function resizeWindow(){
            var wrapperHeight=$("#wrapper").height();
            wrapperHeight=Math.max(wrapperHeight,700);
            var headerHeight=$("#header").height();
            var mapRealInfoHeight=$("#mapRealInfo").height();
            var mainContainerHeight= wrapperHeight-headerHeight-mapRealInfoHeight-2;
            $("#mainContainer").height(mainContainerHeight);
            //$("#container").height(mainContainerHeight);
            $("#vsplitter").wijsplitter("refresh");
            $("#hsplitter").wijsplitter("refresh");
        }

        function reloadLayerData() {
            var url = '@Url.Action("GetAllLayersPartial", "Home")';
            $.post(url, null, function (data, status, jqXHR) {
                $("#allLayers").empty();
                $("#allLayers").append(data);
                loadAllDevicePointsByVisitLayers();
            }, "html");
        }

        function reloadDeviceData(layerId, layerName) {
            layerId = layerId || $("#selectedlayerId").val();
            layerName = layerName || $("#selectedlayerName").val();

            var url = '@Url.Action("GetAllDevicesPartial", "Home")';
            var postData = { LayerId: layerId }
            $.post(url, postData, function (data, status, jqXHR) {
                $("#allDevices").empty();
                $("#allDevices").append(data);
            }, "html");

            //loadDevicePointsByLayerId(layerId);

        }

        function loadLayerEditPartial() {
            if ($("#layerEditPartialParent").children().length == 0) {
                var url = '@Url.Action("GetLayerEditPartial", "Home")';
                $.post(url, null, function (data, status, jqXHR) {
                    $("#layerEditPartialParent").append(data);
                }, "html");
            }
        }

    </script>
}

<div id="vsplitter" style="height:100%;">
    <div style="border-right:solid 1px lightgray;">
        <div id="hsplitter">
            <div>
                <div class="mapToolbar" style="text-align:right;height:35px;line-height:35px;padding:5px;border-bottom:solid 1px lightgray;">
                    <table style="width:100%;">
                        <tr>
                            <td align="left"><label>图层</label></td>
                            <td align="right"><input type="button" id="btnCreateLayer" value="新增..." /></td>
                        </tr>
                    </table>
                </div>
                <div id="layerOpts">
                    <div id="allLayers">
                    </div>
                </div>
            </div>
            <div>
                <div class="mapToolbar" style="text-align:right;height:35px;line-height:35px;padding:5px;border-bottom:solid 1px lightgray;">
                    <table style="width:100%;">
                        <tr>
                            <td align="left"><label>设备</label></td>
                            <td align="right">
                                <input type="button" id="btnCreateDevice" value="点" />
                                <input type="button" id="btnCreateLine" value="线" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="deviceOpts">
                    <div id="allDevices">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
        <div id="container"></div>
    </div>

</div>
<div>
    <table style="width:100%;">
        <tr>
            <td>
                <div>
                    @Model.OfficeName
                </div>
            </td>
            <td align="right">
                <div id="mapRealInfo">
                    lng:0,lat:0
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="layerEditDialog" title="图层" style="display:none;">
    @using (Html.BeginForm("LayerEdit", "Layer", FormMethod.Post, new { @ID = "LayerMstFrm" }))
    {
        <input type="hidden" id="selectedLayerId" name="Id" value="0" />
        <table id="selectLayerDataEditTable" class="EditTable">
            <tr>
                <td><label>标识</label></td>
                <td><input type="text" name="LayerKey" id="LayerKey" class="NumABC" style="width:150px;" /></td>
            </tr>
            <tr>
                <td><label>名称</label></td>
                <td><input type="text" name="LayerName" id="LayerName" class="Fullwidth" style="width:150px;" /></td>
            </tr>
            <tr>
                <td><label>图标</label></td>
                <td>
                    <div>
                        <div style="float:left;width:200px;">
                            <img id="layerIcon" src="" title="" class="LayerIcons" />
                            <input type="text" id="IconFileKey" name="IconFile" style="display:none;" value="0" />
                        </div>
                        <div style="float:left;">
                            <input class="btn FileSelectButton" type="button" value="选择..." />
                            <div class="FileSelectHideObj">
                                <input name="file" id="upload_img_img" onchange="return fileinput_change(this);" type="file" guid="0" imgidx="1" />
                            </div>
                        </div>
                        <div style="padding-left: 10px;float:left;">
                            <input type="button" value="清除" guid="0" imgidx="1" class="btn btnClearImg" />
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </td>
            </tr>
        </table>
    }

</div>

<div id="deviceEditDialog" title="设备" style="display:none;">
    @using (Html.BeginForm("DeviceEdit", "Layer", FormMethod.Post, new { @ID = "DeviceMstFrm" }))
    {
        <input type="hidden" id="selectedDeviceId" name="DeviceId" value="0" />
        <input type="hidden" id="selectedDeviceLayerId" name="LayerId" value="0" />
        <table id="selectDeviceDataEditTable" class="EditTable">
            <tr>
                <td><label>图层</label></td>
                <td><label id="selectedDeviceLayerName">图层名称</label></td>
            </tr>
            <tr>
                <td><label>标识</label></td>
                <td><input type="text" name="DeviceKey" id="DeviceKey" class="NumABC" style="width:150px;" /></td>
            </tr>
            <tr>
                <td><label>名称</label></td>
                <td><input type="text" name="DeviceName" id="DeviceName" class="Fullwidth" style="width:150px;" /></td>
            </tr>
            <tr>
                <td><label>Url</label></td>
                <td><input type="text" name="DeviceUrl" id="DeviceUrl" class="NumABC" style="width:500px;" /></td>
            </tr>
            <tr>
                <td><label>纬度(Lat)</label></td>
                <td><input type="text" name="Lat" id="DeviceLat" class="NumABC" style="width:150px;" /></td>
            </tr>
            <tr>
                <td><label>经度(Lng)</label></td>
                <td><input type="text" name="Lng" id="DeviceLng" class="NumABC" style="width:150px;" /></td>
            </tr>
            <tr>
                <td><label>描述</label></td>
                <td>
                    <textarea id="DeviceNote" name="Note" maxlength="500" class="Fullwidth" style="width:500px;height:100px;"></textarea>
                </td>
            </tr>
        </table>
    }

</div>


<div id="layerEditPartialParent"></div>

<div id="deviceEditPartialParent"></div>


@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#deviceEditDialog').wijdialog({
                autoOpen: false,
                modal: true,
                width: 650,
                resizable: false,
                captionButtons: {
                    pin: { visible: false },
                    refresh: { visible: false },
                    toggle: { visible: false },
                    minimize: { visible: false },
                    maximize: { visible: false }
                },
                buttons: [
                {
                    text: "保存",
                    click: function () {
                        saveDeviceData();
                    }
                },
                {
                    text: "关闭",
                    click: function () {
                        closeDeviceDialog();
                    }
                }],
            });
        });

        function openNewDevice(LayerId, LayerName) {
            $("#selectedDeviceId").val("0");
            $("#selectedDeviceLayerId").val(LayerId);
            $("#selectedDeviceLayerName").text(LayerName);
            $("#DeviceKey").val("");
            $("#DeviceName").val("");
            $("#DeviceUrl").val("");
            $("#DeviceLng").val("");
            $("#DeviceLat").val("");
            $("#DeviceNote").text("");

            $('#deviceEditDialog').wijdialog("open");
        }
        function closeDeviceDialog() {
            $('#deviceEditDialog').wijdialog("close");
        }

        function setInfoToDeviceEditDialog(Id) {
            var url = '@Url.Action("GetDeviceModel", "Device")';
            var postData = { Id: Id };
            $.post(url, postData, function (data) {
                var model = data.Model;
                $("#selectedDeviceId").val(model.DeviceId);
                $("#selectedDeviceLayerId").val(model.LayerId);
                $("#selectedDeviceLayerName").text(model.LayerName);
                $("#DeviceKey").val(model.DeviceKey);
                $("#DeviceName").val(model.DeviceName);
                $("#DeviceUrl").val(model.DeviceUrl);
                $("#DeviceLng").val(model.Lng);
                $("#DeviceLat").val(model.Lat);
                $("#DeviceNote").text(model.Note);
                $('#deviceEditDialog').wijdialog("open");
            });
        }


        function saveDeviceData() {
            var url = '@Url.Action("EditDeviceAjax", "Device")';
            var postData = $("#DeviceMstFrm").serialize();
            $.post(url, postData, function (data) {
                if (data.Success) {
                    closeDeviceDialog();
                    reloadDeviceData();
                }
                else {
                    alert("保存失败!");
                }
            });
        }

        function deleteDeviceData(Id) {
            var bl = confirm("删除数据，继续吗？");
            if (!bl) {
                return;
            }
            var url = '@Url.Action("DeleteDeviceAjax", "Device")';
            var postData = { DeviceId: Id };
            $.post(url, postData, function (data) {
                if (data.Success) {
                    closeDeviceDialog();
                    reloadDeviceData();
                }
                else {
                    alert("删除失败!");
                }
            });
        }

    </script>

    <script src="http://api.map.baidu.com/api?v=2.0&ak=jIhMZ1oRb0xHeDaSGVzzAgg4Ez8dcNrA" type="text/javascript"></script>
    <script type="text/javascript">
        var map;
        $(document).ready(function () {
            map = new BMap.Map("container", { minZoom: @Model.MinZoom });          // 创建地图实例
            var point = new BMap.Point(@Model.CenterLat,@Model.CenterLng);  // 创建点坐标
            map.centerAndZoom(point, @Model.DefaultZoom);  // 初始化地图，设置中心点坐标和地图级别
            map.enableScrollWheelZoom();
            map.disableDoubleClickZoom(true);
            map.addControl(new BMap.NavigationControl());
            setBoundary('@Model.FullCountyName');
            //loadPoints();
            //loadDevicePointsByLayerId();
            //单击获取点击的经纬度
            map.addEventListener("click",function(e){
                console.log("lng:"+ e.point.lng + "," + "lat:" + e.point.lat);
            });

            map.addEventListener("mousemove",function(e){
                $("#mapRealInfo").text("lng:"+ e.point.lng + "," + "lat:" + e.point.lat);
            });

            map.addEventListener("dragend", function (e) {
                var center= map.getCenter();
                var left=@Model.RectangleL;
                var top=@Model.RectangleT;
                var right=@Model.RectangleR;
                var bottom=@Model.RectangleB;

                var bound=map.getBounds();

                var ne= bound.getNorthEast();
                var sw=bound.getSouthWest();

                console.log("NorthEast:" + ne.lng+","+right+";"+ne.lat+","+top+";"+"SouthWest:" +sw.lng+","+left+";"+sw.lat+","+bottom);
                if (ne.lng>right || ne.lat>top || sw.lng<left || sw.lat<bottom)
                {
                    console.log("panTo");
                    //map.panTo(point,{noAnimation:false});
                    //map.panTo(new BMap.Point(113.262232,23.154345));
                    setTimeout(function(){
                        var point = new BMap.Point(@Model.CenterLat,@Model.CenterLng);  // 创建点坐标
                        map.panTo(point);
                    }, 500);
                }
                console.log("center.lng:"+ center.lng + "," + "center.lat:" + center.lat);
            });

            loadAllDevicePointsByVisitLayers();
        });

        function setBoundary(mapName) {
            map.clearOverlays();        //清除地图覆盖物
            var bdary = new BMap.Boundary();
            bdary.get(mapName, function (rs) {       //获取行政区域
                var count = rs.boundaries.length; //行政区域的点有多少个
                if (count === 0) {
                    alert('未能获取行政区域');
                    return;
                }
                var pointArray = [];
                for (var i = 0; i < count; i++) {
                    var ply = new BMap.Polyline(rs.boundaries[i], {
                        strokeWeight: 2, strokeColor: "#ff0000", strokeStyle: "dashed", enableMassClear: false, enableClicking: false,
                        //strokeOpacity: 0,
                        //fillColor: "#ffffff",
                        //fillOpacity: 0
                    }); //建立多边形覆盖物, fillColor:'#00ff00',fillOpacity: 0.99
                    map.addOverlay(ply);  //添加覆盖物
                    pointArray = pointArray.concat(ply.getPath());
                }
                //map.setViewport(pointArray);    //调整视野
            });
        }


        function loadPoints() {

            var bounds = map.getBounds();
            var sw = bounds.getSouthWest();
            var ne = bounds.getNorthEast();
            var lngSpan = Math.abs(sw.lng - ne.lng);
            var latSpan = Math.abs(ne.lat - sw.lat);

            //创建小狐狸
            var pt = new BMap.Point(107.756034, 34.280494);
            var marker = new BMap.Marker(pt);// 创建标注
            map.addOverlay(marker);             // 将标注添加到地图中
            //var label = new BMap.Label("小狐狸", { offset: new BMap.Size(20, -10) });
            //marker.setLabel(label);
            var myIcon = new BMap.Icon("http://developer.baidu.com/map/jsdemo/img/fox.gif", new BMap.Size(300, 157));
            var marker2 = new BMap.Marker(pt, { icon: myIcon });  // 创建标注
            map.addOverlay(marker2);              // 将标注添加到地图中
        }

        function loadDevicePointsByLayerId(layerId) {
            map.clearOverlays();
            layerId = layerId || $("#selectedlayerId").val();
            var url = '@Url.Action("GetAllDeviceDatasByLayerId", "Device")';
            var postData = { LayerId: layerId }
            $.post(url, postData, function (data, status, jqXHR) {
                for (idx in data.Datas) {
                    var dev = data.Datas[idx];
                    var pt = new BMap.Point(dev.Lat, dev.Lng);
                    var marker = new BMap.Marker(pt);// 创建标注
                    map.addOverlay(marker);             // 将标注添加到地图中
                    if (dev.IconFileUrl != null && dev.IconFileUrl.length > 0) {
                        var myIcon = new BMap.Icon(dev.IconFileUrl, new BMap.Size(32, 32));
                        marker.setIcon(myIcon);  // 创建标注
                    }
                    var label = new BMap.Label(dev.DeviceName, { offset: new BMap.Size(20, -10) });
                    marker.setLabel(label);
                }
            });
        }

        function loadAllDevicePointsByVisitLayers() {
            var layers=new Array();
            var allVisitLayers=$(".layerView[visible='1']");
            if (allVisitLayers.length==0){
                return;
            }
            for(var idx=0;idx<allVisitLayers.length;idx++){
                layers.push($(allVisitLayers[idx]).attr("layerid"));
            }
            layerIds =layers.join(',');

            map.clearOverlays();
            var url = '@Url.Action("GetAllDeviceDatas", "Device")';
            var postData = { LayerIds: layerIds }
            $.post(url, postData, function (data, status, jqXHR) {
                for (idx in data.Datas) {
                    var dev = data.Datas[idx];
                    var marker=createMark(dev);
                    map.addOverlay(marker);  

                    //var pt = new BMap.Point(dev.Lat, dev.Lng);
                    //var marker = new BMap.Marker(pt);// 创建标注
                    //map.addOverlay(marker);             // 将标注添加到地图中
                    //if (dev.IconFileUrl != null && dev.IconFileUrl.length > 0) {
                    //    var myIcon = new BMap.Icon(dev.IconFileUrl, new BMap.Size(32, 32));
                    //    marker.setIcon(myIcon);  // 创建标注
                    //}
                    //var label = new BMap.Label(dev.DeviceName, { offset: new BMap.Size(20, -10) });
                    //marker.setLabel(label);
                    //marker.setTitle(dev.DeviceName);
                    //marker.addEventListener("click",getAttr);
                }
            });
        }


        createMark = function(dev){
            var pt = new BMap.Point(dev.Lat, dev.Lng);
            var _marker = new BMap.Marker(pt);// 创建标注
            _marker.device=dev;
            if (dev.IconFileUrl != null && dev.IconFileUrl.length > 0) {
                var myIcon = new BMap.Icon(dev.IconFileUrl, new BMap.Size(32, 32));
                _marker.setIcon(myIcon);  // 创建标注
            }
            var label = new BMap.Label(dev.DeviceName, { offset: new BMap.Size(20, -10) });
            _marker.setLabel(label);
            _marker.setTitle(dev.DeviceName);
            _marker.addEventListener("click", function(e){
                var p = e.target.getPosition();       //获取marker的位置
                alert("marker的位置是" + p.lng + "," + p.lat);   
            });
            return _marker;
        };

        //function getAttr(e){
        //    var p = e.target.getPosition();       //获取marker的位置
        //    alert("marker的位置是" + p.lng + "," + p.lat);   
        //}

    </script>
}
