@using CameraMap.App_GlobalResources
@model CameraMap.Models.Master.Organization.OrganizationModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
        }

        #wrapper {
            height: 100%;
            border: none;
        }

        #main {
            height: 100%;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
        }

        #vsplitter {
            height: 100%;
        }

        #layerOpts {
        }

        #container {
            min-height: 500px;
            height: 100%;
            width: 100%;
            margin: 0px;
        }
        #StreetView {
            min-height: 500px;
            height: 100%;
            width: 100%;
            margin: 0px;
        }

        #mapRealInfo {
            height: 28px;
            line-height: 28px;
            text-align: right;
            padding-right: 5px;
        }
    </style>

    <style type="text/css">
        .LayerIcons {
            width: 30px;
            height: 30px;
        }

        .EditTable td {
            padding-bottom: 5px;
            padding-right: 10px;
            vertical-align: middle;
        }
    </style>

    <style type="text/css">
        .FileSelectButton {
            width: 141px;
        }

        .FileSelectHideObj {
            width: 141px;
            height: 34px;
            overflow: hidden;
            position: relative;
            background-image: none;
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: auto;
            background-origin: padding-box;
            background-clip: border-box;
            background-color: transparent;
            margin-top: -34px;
            z-index: 9999px;
        }

            .FileSelectHideObj input {
                height: 34px;
                right: 0px;
                bottom: 0px;
                font-size: 20px;
                filter: alpha(opacity=0);
                -webkit-filter: opacity(0%);
                position: absolute;
                cursor: pointer;
                outline-width: medium;
                outline-style: none;
                outline-color: invert;
                opacity: 0;
            }
    </style>

}
@section PrepareScript{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".NumABC,.Fullwidth").wijtextbox();
            $("#LayerId").wijcombobox();

            reloadLayerData();
            loadLayerEditPartial();

            $("#btnCreateLayer").click(function () {
                openNewLayer();
            });

            $("#btnCreateDevice").click(function () {
                var layerId = $("#selectedlayerId").val();
                var layerName = $("#selectedlayerName").val();
                openNewDevice(layerId, layerName);
            });

            $("#btnCreateLine").click(function () {
                var layerId = $("#selectedlayerId").val();
                var layerName = $("#selectedlayerName").val();
                openNewLine(layerId, layerName);
            });
        });

        $(document).ready(function () {
            $("#vsplitter").wijsplitter({
                panel1: { minSize: 200 },
                fullSplit: true,
                showExpander: false,
                expanded: function (e) { $("#hsplitter").wijsplitter("refresh"); },
                collapsed: function (e) { $("#hsplitter").wijsplitter("refresh"); },
                sized: function (e) { $("#hsplitter").wijsplitter("refresh"); }
            });
            $("#hsplitter").wijsplitter({
                panel1: { minSize: 300 },
                showExpander: false,
                orientation: "horizontal",
                fullSplit: true
            });

            $(window).resize(resizeWindow);
            resizeWindow();
        });

        function resizeWindow(){
            var wrapperHeight=$("#wrapper").height();
            wrapperHeight=Math.max(wrapperHeight,600);
            var headerHeight=$("#header").height();
            var mapRealInfoHeight=$("#mapRealInfo").height();
            var mainContainerHeight= wrapperHeight-headerHeight-mapRealInfoHeight-2;
            $("#mainContainer").height(mainContainerHeight);
            $("#main").height(mainContainerHeight);
            //$("#container").height(mainContainerHeight);
            $("#vsplitter").wijsplitter("refresh");
            $("#hsplitter").wijsplitter("refresh");
        }

        function reloadLayerData() {
            var url = '@Url.Action("GetAllLayersPartial", "Home")';
            $.post(url, null, function (data, status, jqXHR) {
                $("#allLayers").empty();
                $("#allLayers").append(data);
                loadAllDevicePointsByVisitLayers();
            }, "html");
        }

        function reloadDeviceData(layerId, layerName) {
            layerId = layerId || $("#selectedlayerId").val();
            layerName = layerName || $("#selectedlayerName").val();

            var url = '@Url.Action("GetAllDevicesPartial", "Home")';
            var postData = { LayerId: layerId }
            $.post(url, postData, function (data, status, jqXHR) {
                $("#allDevices").empty();
                $("#allDevices").append(data);
            }, "html");

            //loadDevicePointsByLayerId(layerId);

        }

        function loadLayerEditPartial() {
            if ($("#layerEditPartialParent").children().length == 0) {
                var url = '@Url.Action("GetLayerEditPartial", "Home")';
                $.post(url, null, function (data, status, jqXHR) {
                    $("#layerEditPartialParent").append(data);
                }, "html");
            }
        }

    </script>
}

<div id="vsplitter" style="height:100%;">
    <div style="border-right:solid 1px lightgray;">
        <div id="hsplitter">
            <div>
                <div class="mapToolbar" style="text-align:right;height:35px;line-height:35px;padding:5px;border-bottom:solid 1px lightgray;">
                    <table style="width:100%;">
                        <tr>
                            <td align="left"><label>图层</label></td>
                            <td align="right"><input type="button" id="btnCreateLayer" value="新增..." /></td>
                        </tr>
                    </table>
                </div>
                <div id="layerOpts">
                    <div id="allLayers">
                    </div>
                </div>
            </div>
            <div>
                <div class="mapToolbar" style="text-align:right;height:35px;line-height:35px;padding:5px;border-bottom:solid 1px lightgray;">
                    <table style="width:100%;">
                        <tr>
                            <td align="left"><label>设备</label></td>
                            <td align="right">
                                <input type="button" id="btnCreateDevice" value="点" />
                                <input type="button" id="btnCreateLine" value="线" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="deviceOpts">
                    <div id="allDevices">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
        <div id="container"></div>
        <div id="StreetView" style="display:none;"></div>
    </div>

</div>
<div>
    <table style="width:100%;">
        <tr>
            <td>
                <div>
                    @Model.OfficeName
                </div>
            </td>
            <td align="right">
                <div id="mapRealInfo">
                    lng:0,lat:0
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="layerEditDialog" title="图层" style="display:none;">
    @using (Html.BeginForm("LayerEdit", "Layer", FormMethod.Post, new { @ID = "LayerMstFrm" }))
    {
        <input type="hidden" id="selectedLayerId" name="Id" value="0" />
        <table id="selectLayerDataEditTable" class="EditTable">
            <tr>
                <td><label>标识</label></td>
                <td><input type="text" name="LayerKey" id="LayerKey" class="NumABC" style="width:150px;" /></td>
            </tr>
            <tr>
                <td><label>名称</label></td>
                <td><input type="text" name="LayerName" id="LayerName" class="Fullwidth" style="width:150px;" /></td>
            </tr>
            <tr>
                <td><label>图标</label></td>
                <td>
                    <div>
                        <div style="float:left;width:200px;">
                            <img id="layerIcon" src="" title="" class="LayerIcons" />
                            <input type="text" id="IconFileKey" name="IconFile" style="display:none;" value="0" />
                        </div>
                        <div style="float:left;">
                            <input class="btn FileSelectButton" type="button" value="选择..." />
                            <div class="FileSelectHideObj">
                                <input name="file" id="upload_img_img" onchange="return fileinput_change(this);" type="file" guid="0" imgidx="1" />
                            </div>
                        </div>
                        <div style="padding-left: 10px;float:left;">
                            <input type="button" value="清除" guid="0" imgidx="1" class="btn btnClearImg" />
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </td>
            </tr>
        </table>
    }

</div>

<div id="deviceEditDialog" title="点" style="display:none;">
    @using (Html.BeginForm("DeviceEdit", "Layer", FormMethod.Post, new { @ID = "DeviceMstFrm" }))
    {
    <input type="hidden" id="selectedDeviceId" name="DeviceId" value="0" />
    <input type="hidden" id="selectedDeviceLayerId" name="LayerId" value="0" />
    <table id="selectDeviceDataEditTable" class="EditTable">
        <tr>
            <td><label>图层</label></td>
            <td><label id="selectedDeviceLayerName">图层名称</label></td>
        </tr>
        <tr>
            <td><label>标识</label></td>
            <td><input type="text" name="DeviceKey" id="DeviceKey" class="NumABC" style="width:150px;" /></td>
        </tr>
        <tr>
            <td><label>名称</label></td>
            <td><input type="text" name="DeviceName" id="DeviceName" class="Fullwidth" style="width:150px;" /></td>
        </tr>
        <tr>
            <td><label>Url</label></td>
            <td><input type="text" name="DeviceUrl" id="DeviceUrl" class="NumABC" style="width:500px;" /></td>
        </tr>
        <tr>
            <td><label>纬度(Lat)</label></td>
            <td><input type="text" name="Lat" id="DeviceLat" class="NumABC" style="width:150px;" /></td>
        </tr>
        <tr>
            <td><label>经度(Lng)</label></td>
            <td><input type="text" name="Lng" id="DeviceLng" class="NumABC" style="width:150px;" /></td>
        </tr>
        <tr>
            <td><label>描述</label></td>
            <td>
                <textarea id="DeviceNote" name="Note" maxlength="500" class="Fullwidth" style="width:500px;height:100px;"></textarea>
            </td>
        </tr>
    </table>
    }

</div>

<div id="lineEditDialog" title="线" style="display:none;">
    @using (Html.BeginForm("LineEdit", "Layer", FormMethod.Post, new { @ID = "LineMstFrm" }))
    {
    <input type="hidden" id="selectedLineId" name="LineId" value="0" />
    <input type="hidden" id="selectedLineLayerId" name="LayerId" value="0" />
    <table id="selectLineDataEditTable" class="EditTable">
        <tr>
            <td><label>图层</label></td>
            <td><label id="selectedLineLayerName">图层名称</label></td>
        </tr>
        <tr>
            <td><label>标识</label></td>
            <td><input type="text" name="LineKey" id="LineKey" class="NumABC" style="width:150px;" /></td>
        </tr>
        <tr>
            <td><label>名称</label></td>
            <td>
                <input type="text" name="LineName" id="LineName" class="Fullwidth" style="width:150px;" />
            </td>
        </tr>
        <tr>
            <td><label>坐标</label></td>
            <td>
                <textarea name="Points" id="LinePoints" class="NumABC" style="width:500px;height:100px;"></textarea>
                <p>格式:经度(Lng),纬度(Lat).一组一行</p>
            </td>
        </tr>
        <tr>
            <td><label>描述</label></td>
            <td>
                <textarea id="LineNote" name="Note" maxlength="500" class="Fullwidth" style="width:500px;height:100px;"></textarea>
            </td>
        </tr>
    </table>
    }

</div>


<div id="layerEditPartialParent"></div>

<div id="deviceEditPartialParent"></div>


@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#deviceEditDialog').wijdialog({
                autoOpen: false,
                modal: true,
                width: 650,
                resizable: false,
                captionButtons: {
                    pin: { visible: false },
                    refresh: { visible: false },
                    toggle: { visible: false },
                    minimize: { visible: false },
                    maximize: { visible: false }
                },
                buttons: [
                {
                    text: "保存",
                    click: function () {
                        saveDeviceData();
                    }
                },
                {
                    text: "关闭",
                    click: function () {
                        closeDeviceDialog();
                    }
                }],
            });
        });

        function openNewDevice(LayerId, LayerName) {
            $("#selectedDeviceId").val("0");
            $("#selectedDeviceLayerId").val(LayerId);
            $("#selectedDeviceLayerName").text(LayerName);
            $("#DeviceKey").val("");
            $("#DeviceName").val("");
            $("#DeviceUrl").val("");
            $("#DeviceLng").val("");
            $("#DeviceLat").val("");
            $("#DeviceNote").text("");

            $('#deviceEditDialog').wijdialog("open");
        }
        function closeDeviceDialog() {
            $('#deviceEditDialog').wijdialog("close");
        }

        function setInfoToDeviceEditDialog(Id) {
            var url = '@Url.Action("GetDeviceModel", "Device")';
            var postData = { Id: Id };
            $.post(url, postData, function (data) {
                var model = data.Model;
                $("#selectedDeviceId").val(model.DeviceId);
                $("#selectedDeviceLayerId").val(model.LayerId);
                $("#selectedDeviceLayerName").text(model.LayerName);
                $("#DeviceKey").val(model.DeviceKey);
                $("#DeviceName").val(model.DeviceName);
                $("#DeviceUrl").val(model.DeviceUrl);
                $("#DeviceLng").val(model.Lng);
                $("#DeviceLat").val(model.Lat);
                $("#DeviceNote").text(model.Note);
                $('#deviceEditDialog').wijdialog("open");
            });
        }


        function saveDeviceData() {
            var url = '@Url.Action("EditDeviceAjax", "Device")';
            var postData = $("#DeviceMstFrm").serialize();
            $.post(url, postData, function (data) {
                if (data.Success) {
                    closeDeviceDialog();
                    reloadDeviceData();
                }
                else {
                    alert("保存失败!");
                }
            });
        }

        function deleteDeviceData(Id) {
            var bl = confirm("删除数据，继续吗？");
            if (!bl) {
                return;
            }
            var url = '@Url.Action("DeleteDeviceAjax", "Device")';
            var postData = { DeviceId: Id };
            $.post(url, postData, function (data) {
                if (data.Success) {
                    closeDeviceDialog();
                    reloadDeviceData();
                }
                else {
                    alert("删除失败!");
                }
            });
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#lineEditDialog').wijdialog({
                autoOpen: false,
                modal: true,
                width: 650,
                resizable: false,
                captionButtons: {
                    pin: { visible: false },
                    refresh: { visible: false },
                    toggle: { visible: false },
                    minimize: { visible: false },
                    maximize: { visible: false }
                },
                buttons: [
                {
                    text: "保存",
                    click: function () {
                        saveLineData();
                    }
                },
                {
                    text: "关闭",
                    click: function () {
                        closeLineDialog();
                    }
                }],
            });
        });

        function openNewLine(LayerId, LayerName) {
            $("#selectedLineId").val("0");
            $("#selectedLineLayerId").val(LayerId);
            $("#selectedLineLayerName").text(LayerName);
            $("#LineKey").val("");
            $("#LineName").val("");
            $("#LinePoints").val("");
            $("#LineNote").text("");

            $('#lineEditDialog').wijdialog("open");
        }
        function closeLineDialog() {
            $('#lineEditDialog').wijdialog("close");
        }

        function setInfoToLineEditDialog(Id) {
            var url = '@Url.Action("GetLineModel", "Line")';
            var postData = { Id: Id };
            $.post(url, postData, function (data) {
                var model = data.Model;
                $("#selectedLineId").val(model.LineId);
                $("#selectedLineLayerId").val(model.LayerId);
                $("#selectedLineLayerName").text(model.LayerName);
                $("#LineKey").val(model.LineKey);
                $("#LineName").val(model.LineName);
                $("#LinePoints").val(model.Points);
                $("#LineNote").text(model.Note);
                $('#lineEditDialog').wijdialog("open");
            });
        }


        function saveLineData() {
            var url = '@Url.Action("EditLineAjax", "Line")';
            var postData = $("#LineMstFrm").serialize();
            $.post(url, postData, function (data) {
                if (data.Success) {
                    closeLineDialog();
                    reloadDeviceData();
                }
                else {
                    alert("保存失败!");
                }
            });
        }

        function deleteLineData(Id) {
            var bl = confirm("删除数据，继续吗？");
            if (!bl) {
                return;
            }
            var url = '@Url.Action("DeleteLineAjax", "Line")';
            var postData = { LineId: Id };
            $.post(url, postData, function (data) {
                if (data.Success) {
                    closeLineDialog();
                    reloadDeviceData();
                }
                else {
                    alert("删除失败!");
                }
            });
        }

    </script>

    @*@Html.Partial("_BaiduMapPartial", Model)*@

<script>

    var googleMap;
    var all_markers = [];
    var all_polylines = [];
    function initMap() {
        var point = { lat: @Model.CenterLat, lng: @Model.CenterLng };
        googleMap= new google.maps.Map(document.getElementById('container'), {
            zoom: @Model.DefaultZoom,
            center: point,
            mapTypeId:google.maps.MapTypeId.HYBRID,
        });        

        googleMap.addListener('mousemove', function(e) {            
            $("#mapRealInfo").text("lng:"+e.latLng.lng() + "," + "lat:" +e.latLng.lat());
        });
        loadAllDevicePointsByVisitLayers();
    }

    
    function loadAllDevicePointsByVisitLayers() {
        if(googleMap==null){
            return;
        }
        var layers=new Array();
        var allVisitLayers=$(".layerView[visible='1']");
        if (allVisitLayers.length==0){
            return;
        }
        for(var idx=0;idx<allVisitLayers.length;idx++){
            layers.push($(allVisitLayers[idx]).attr("layerid"));
        }
        layerIds =layers.join(',');

        //googleMap.clearOverlays();

        for (var i = 0; i < all_markers.length; i++) {
            all_markers[i].setMap(null);
        }
        all_markers = [];

        for (var i = 0; i < all_polylines.length; i++) {
            all_polylines[i].setMap(null);
        }
        all_polylines = [];

        var url = '@Url.Action("GetAllDeviceDatas", "Device")';
        var postData = { LayerIds: layerIds }
        $.post(url, postData, function (data, status, jqXHR) {
            for (idx in data.Datas) {
                var dev = data.Datas[idx];
                if (dev.DeviceTypeName=="Point"){
                    var marker=createMark(dev,googleMap);                    
                    marker.setMap(googleMap);
                    all_markers.push(marker);
                }
                else if (dev.DeviceTypeName=="Line"){
                    var polyline=createLine(dev);
                    polyline.setMap(googleMap);
                    all_polylines.push(polyline);
                }
            }
        });
    }

    createMark = function(dev){

        var pt ={lat:dev.Lat,lng: dev.Lng};
        var _marker = new google.maps.Marker({
            position: pt,
        });

        _marker.device=dev;
        _marker.deviceId=dev.DeviceId;
        if (dev.IconFileUrl != null && dev.IconFileUrl.length > 0) {

            var myIcon = { url: dev.IconFileUrl};
            _marker.setIcon(myIcon);  // 创建标注
        }
        _marker.setTitle(dev.DeviceName);
        var label ={text:dev.DeviceName,color:'red'};
        _marker.setLabel(label);
        _marker.addListener("click", function(e){
            //var p = e.target.getPosition();       //获取marker的位置
            //alert("marker["+_marker.deviceId+"]的位置是" + p.lng + "," + p.lat);
            if(_marker.device.DeviceKey=="camera01"){
                $("#StreetView").show();
                $("#container,#StreetView").css("width","49%");
                $("#container").css("float","left");
                $("#StreetView").css("float","right");
                if (panorama==null){
                    initPano();
                }
                panorama.setVisible(true);
                googleMap.setStreetView(panorama);
            }else{
                if (panorama!=null){
                    panorama.setVisible(false);
                }
                $("#container").css("width","100%");
                $("#container").css("float",null);
                $("#StreetView").hide();
                googleMap.setStreetView(null);
            }
        });
        return _marker;
    };

    createLine = function(dev){
        var points= new Array();
        for(var idx=0;idx<dev.MapPoints.length;idx++){
            var p=dev.MapPoints[idx];
            points.push({lat:p.Lat,lng: p.Lng});
        }
        var lineSymbol = {
            path: 'M 0,-1 0,1',
            strokeOpacity: 1,
            scale: 4
        };
        var polyline = new google.maps.Polyline({
            path:points, 
            geodesic: true,
            strokeColor:"red", strokeWeight:2, 
            strokeOpacity:0.5,
            //icons: [{
            //    icon: lineSymbol,
            //    offset: '0',
            //    repeat: '20px'
            //}]
        });   //创建折线

        if (all_polylines.length%2==0){
            polyline.strokeOpacity=0;
            polyline.setOptions({
                strokeOpacity:0,
                strokeColor:"blue",
                icons: [{
                    icon: lineSymbol,
                    offset: '0',
                    repeat: '20px'
                }]
            });
        }
        polyline.device=dev;
        polyline.deviceId=dev.DeviceId;
        //polyline.addEventListener("click", function(e){
        //    var bounds = e.target.getBounds();       //获取marker的位置
        //    alert("polyline["+polyline.deviceId+"]的位置是" + bounds.getSouthWest().lng + "," + bounds.getSouthWest().lat+"," + bounds.getNorthEast().lng + "," + bounds.getNorthEast().lat);
        //});
        return polyline;
    };

</script>

<script>
    var panorama;
    function initPano() {
        // Set up Street View and initially set it visible. Register the
        // custom panorama provider function. Set the StreetView to display
        // the custom panorama 'reception' which we check for below.
        panorama = new google.maps.StreetViewPanorama(
          document.getElementById('StreetView'), {
              pano: 'reception',
              visible: true,
              panoProvider: getCustomPanorama
          });
    }

   

    // Return a pano image given the panoID.
    function getCustomPanoramaTileUrl(pano, zoom, tileX, tileY) {
        // Note: robust custom panorama methods would require tiled pano data.
        // Here we're just using a single tile, set to the tile size and equal
        // to the pano "world" size.
        return 'https://developers.google.cn/maps/documentation/javascript/examples/full/images/panoReception1024-0.jpg';
    }

    // Construct the appropriate StreetViewPanoramaData given
    // the passed pano IDs.
    function getCustomPanorama(pano, zoom, tileX, tileY) {
        if (pano === 'reception') {
            return {
                location: {
                    pano: 'reception',
                    description: '测试例子'
                },
                links: [],
                // The text for the copyright control.
                copyright: 'Imagery (c) 2010 Google',
                // The definition of the tiles for this panorama.
                tiles: {
                    tileSize: new google.maps.Size(1024, 512),
                    worldSize: new google.maps.Size(1024, 512),
                    // The heading in degrees at the origin of the panorama
                    // tile set.
                    centerHeading: 105,
                    getTileUrl: getCustomPanoramaTileUrl
                }
            };
        }
    }
</script>

<script async defer src="http://maps.google.cn/maps/api/js?region=cn&language=zh-CN&key=AIzaSyB3C7qW3_wRpL57_k4FpjfrtZBrw_6KXMQ&callback=initMap"></script>

}
