@using CameraMap.App_GlobalResources
@model CameraMap.Models.SystemSetting.DigitSystemSetting


<section id="detail_left">
    @Model.SystemSettingName
</section>
<section id="detail_right">
    @Html.TextBoxFor(m => m.SystemSettingValue, new { @class = "NumText", @Name = "Settings[" + Model.Flag + "].Value", style = "max-width:100px;", min = Model.MinValue, max = Model.MaxValue })
    @Html.HiddenFor(m => m.SystemSettingKey, new { @Name = "Settings[" + Model.Flag + "].SystemSettingKey" })
    @Html.HiddenFor(m => m.OrganizationID, new { @Name = "Settings[" + Model.Flag + "].OrganizationID", @Value = Model.OrganizationID })<br />
    <div style="padding-top:3px;">
        @Html.DisplayTextFor(m => m.Note)
    </div>
    @Html.ValidationMessageFor(m => m.Value)
</section>
