@using CameraMap.App_GlobalResources
@model CameraMap.Models.SystemSetting.TextSystemSetting


<section id="detail_left">
    @Model.SystemSettingName
</section>
<section id="detail_right">
    @Html.TextBoxFor(m => m.Value, new { @class = "Fullwidth", @Name = "Settings[" + Model.Flag + "].Value", maxLength = "200", style = "min-width:950px;" })
    @Html.HiddenFor(m => m.SystemSettingKey, new { @Name = "Settings[" + Model.Flag + "].SystemSettingKey" })
    @Html.HiddenFor(m => m.OrganizationID, new { @Name = "Settings[" + Model.Flag + "].OrganizationID", @Value = Model.OrganizationID })<br />
    <div style="padding-top:3px;">
        @Html.DisplayTextFor(m => m.Note)
    </div>
    @Html.ValidationMessageFor(m => m.Value)
</section>
